HOST=localhost
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=e_signature_dev

JWT_SECRET=7kjzK1n1C8RSqd7QsDotWYBmFI6pH0
JWT_EXPIRES_IN=365d

AWS_BUCKET_NAME=assets
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=A..............S
AWS_SECRET_ACCESS_KEY=T..................B/Z.....R/3
AWS_ENDPOINT=https://s3.ap-southeast-2.amazonaws.com/
CDN_ENDPOINT=https://d...........u.cloudfront.net/
